<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="feihu.security.mapper.AccountMapper">
	<cache></cache>
	<insert id="addAccount" parameterType="Account" useGeneratedKeys="true" keyProperty="id">
		insert into account(name,password,department,enable) value(#{name},#{password},#{department},#{enable})
	</insert>  
	<update id="updateAccount" parameterType="Account">  
		update account set name=#{name},password=#{password},department=#{department},enable=#{enable} where id=#{id}
	</update>  
	<delete id="deleteAccount" parameterType="int">
		delete from account where id = #{_parameter}
	</delete>  
	<delete id="deleteAccounts">
		delete from account where id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete> 
	<select id="queryAccountById" parameterType="int" resultType="Account">
		select id,name,password,department,enable,createtime from account where id=#{id}
	</select>  
	<select id="queryAccount" parameterType="String" resultType="Account">
		select id,name,password,department,enable,createtime from account where name='${_parameter}'
	</select> 
	<select id="queryAccounts" resultType="Account">
		select id,name,password,department,enable,createtime from account
	</select>
</mapper>