<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="feihu.security.mapper.AccountRoleMapper">
	<cache></cache>
	<select id="queryRoles" parameterType="Account" resultType="Role">
		select t1.id,t1.name,t1.createtime,t1.permission from (select rid from accountrole where aid=#{id}) t0 left join role t1 on t0.rid=t1.id
	</select>  
	<select id="queryPermissions" parameterType="Account" resultType="int">
		select t1.permission from (select rid from accountrole where aid=#{id}) t0 left join role t1 on t0.rid=t1.id
	</select>  
	<delete id="deleteAccountRole" parameterType="int">
		delete from accountrole where aid = #{_parameter}
	</delete> 
	<delete id="deleteAccountRoles">
		delete from accountrole where aid in
		<foreach collection="list" item="aid" index="index" open="(" close=")" separator=",">
			#{aid}
		</foreach>
	</delete> 
	<insert id="addAccountRole">
		insert into accountrole(aid,rid) values
		<foreach collection="list" item="item" index="index" separator=",">
			 (
			 #{item.aid},
			 #{item.rid}
            )
		</foreach>
	</insert>  
</mapper>