#content{
	text-align:center;
}
.module,.module>a{
	display:inline-block;
}
.module{
	padding:40px;
}
#usersettings{
	width:128px;
	height:128px;
	background:url(/app/image/user.png) no-repeat scroll center;
	cursor:pointer;
}
#rolesettings{
	width:128px;
	height:128px;
	background:url(/app/image/role.png) no-repeat scroll center;
	cursor:pointer;
}
#permissionsettings{
	width:128px;
	height:128px;
	background:url(/app/image/permission.png) no-repeat scroll center;
	cursor:pointer;
}