<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:annotation-config/>
	<context:component-scan base-package="feihu.audition">
		<context:exclude-filter type="regex" expression=".control.*"/>
	</context:component-scan>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/testdb?generateSimpleParameterMetadata=true&amp;useSSL=false&amp;serverTimezone=GMT"></property>  
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>  
		<property name="user" value="test"></property>  
		<property name="password" value="test"></property>  
		<!-- 池参数配置 -->  
		<property name="acquireIncrement" value="3"></property>  
		<property name="initialPoolSize" value="10"></property>  
		<property name="minPoolSize" value="2"></property>  
		<property name="maxPoolSize" value="20"></property>     
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
		<property name="dataSource" ref="dataSource"></property>  
		<property name="configLocation" value="classpath:mybatis-config.xml" />   
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
		<property name="basePackage" value="feihu.audition.mapper"></property>  
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
	</bean>
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
		<property name="dataSource" ref="dataSource"></property>
	</bean>  
	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>
	<aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>